<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Outpatient Fitness Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/dashboard.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <!--<link rel="stylesheet" type="text/css" href="/stylesheets/vendor.css">-->
  <link rel="stylesheet" type="text/css" href="/stylesheets/flat-admin.css">
  <!-- Theme -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/theme/blue-sky.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/theme/blue.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/theme/red.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/theme/yellow.css">
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
  <script src="/javascripts/bpchart.js"></script>
  <script src="http://d3js.org/d3.v3.js"></script>
</head>
<body>

<div class="container" ng-app="myApp">
  <div class="dash-heading">
    <div class="dash-heading-text" >
      <img class="dash-heading-image" src="image/logo.png"> &nbsp Outpatient Healthcare
      <span>
      <input class="button button2"  type="button" onclick="location.href='http://localhost:3020/logout';" value="Logout" />
     </span>
    </div>

    <!-- Charts !-->
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <a class="card card-banner card-blue-light">
            <div class="card-body">
              <i href="image/hricon.png"></i>
              <div class="content">
                <div class="title">Heart Rate</div>
                <div class="value"><span class="sign">bpm</span><%= currentData.value%></div>
              </div>
            </div></a>
        </div>
        <div class="col-sm-4">
          <a class="card card-banner card-blue-light">
            <div class="card-body">
              <i href="images/stepsicon.png"></i>
              <div class="content">
                <div class="title">Steps</div>
                <div class="value"><%= currentData.steps%></div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-4">
          <a class="card card-banner card-blue-light">
            <div class="card-body">
              <i href="images/stepsicon.png"></i>
              <div class="content">
                <div class="title">Calories</div>
                <div class="value"><%= currentData.calories%></div>
              </div>
            </div>
          </a>
        </div>
      </div>

      <!-- Past history charts!-->
      <div class="row">
        <div class="col-xs-6">
          <div id="stepsContainer" style="height: 320px; width: 500px; opacity: 0.9;"></div>
        </div>
        <div class="col-xs-6">
          <div id="hrContainer" style="height: 320px; width: 500px; opacity: 0.9;"> </div>
        </div>
      </div>

      <div class="row">
      <div class="col-xs-6">
        <div id="bpContainer" style="height: 320px; width: 500px; opacity: 0.9;"> </div>
      </div>
        <div class="col-xs-6">
          <div id="bpContainer1" style="height: 320px; width: 500px; opacity: 0.9;"> </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <div id="calorieContainer" style="height: 320px; width: 500px; opacity: 0.9;"> </div>
        </div>
      </div>
    </div>

  </div>
</div>
</body>

<script src="/javascripts/canvasjs.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/javascripts/app.js"></script>

<script type="text/javascript">
    window.onload = function () {

        CanvasJS.addColorSet("greenShades",
            [//colorSet Array
                "#2F4F4F",
                "#008080",
                "#2E8B57",
                "#3CB371",
                "#90EE90"
            ]);

        var activityData = <%- JSON.stringify(activityData) %>

        var data1 = activityData.map(function (obj) {
            var d = obj.date.split('-')
            return {
                x: new Date(d[0], d[1]-1, d[2]),
                y: obj.steps
            }
        })
        var chart1 = new CanvasJS.Chart("stepsContainer",
            {
                colorSet: "greenShades",
                backgroundColor: "rgba(255,255,255, 0.3)",
                zoomEnabled: true,
                animationEnabled: true,
                theme: "theme4",

                title:{
                    text: "Steps"
                },
                axisY:{
                    title: "Number of Steps"
                },
                axisX:{
                    title: "Day" ,
                    valueFormatString: "DD MMM YY"
                },
                data: [
                    {
                        type: "column", //change type to bar, line, area, pie, etc
                        dataPoints: data1
                    }]
            });
        chart1.render();

        var gauge = {

            title:{text: "Steps Today", fontFamily: "verdana", fontColor: "#008080"},
            data : { y: 15700 }, //gauge value change it
            maximum : 20000
        };

        var hrData = <%- JSON.stringify(heartBeatData) %>

        var data = hrData.map(function (obj) {
            var d = obj.date.split('-')
            return {
                x: new Date(d[0], d[1]-1, d[2]),
                y: obj.maxHeartBeat

            }
        })
        var chart2 = new CanvasJS.Chart("hrContainer",
            {
                backgroundColor: "rgba(255,255,255, 0.3)",
                animationEnabled: true,
                theme: "theme4",
                zoomEnabled: true,
                //exportEnabled: true,
                title:{
                    text: "Monthly Heart Rate"
                },

                axisX:{
                    title: "Day",
                    valueFormatString: "DD MMM YY"

                },
                axisY:{
                    title: "BPM"
                },
                data: [
                    {
                        type: "line", //change type to bar, line, area, pie, etc
                        fill: false,
                        markerType: "circle",
                        markerSize: 5,
                        dataPoints: data
                    }]
            });
        chart2.render();

        var bpData = <%- JSON.stringify(bloodPressureData) %>

        var data3 = bpData.map(function (obj) {
            var d = obj.date.split('-')
            return {
                x: new Date(d),
                y: obj.diastolicBP,
            }
        })

        var chart3 = new CanvasJS.Chart("bpContainer",
            {
                colorSet: "greenShades",
                backgroundColor: "rgba(255,255,255, 0.3)",
                zoomEnabled: true,
                animationEnabled: true,
                theme: "theme4",

                title:{
                    text: "Blood Pressure"
                },
                axisY:{
                    title: "Diastolic BP"
                },

                axisX:{
                    title: "Day" ,
                    valueFormatString: "DD MMM YY"
                },
                data: [
                    {
                        type: "spline", //change type to bar, line, area, pie, etc
                        lineColor: '#2E8B57',
                        markerType: 'circle',
                        markerSize: 5,
                        dataPoints: data3
                    }]
            });
        chart3.render();

        var sysData = <%- JSON.stringify(bloodPressureData) %>

        var data4 = sysData.map(function (obj) {
            var d = obj.date.split('-')
            return {
                x: new Date(d),
                y: obj.systolicBP,
            }
        })

        var chart4 = new CanvasJS.Chart("bpContainer1",
            {
                colorSet: "greenShades",
                backgroundColor: "rgba(255,255,255, 0.3)",
                zoomEnabled: true,
                animationEnabled: true,
                theme: "theme4",

                title:{
                    text: "Blood Pressure"
                },
                axisY:{
                    title: "Systolic BP"
                },

                axisX:{
                    title: "Day" ,
                    valueFormatString: "DD MMM YY"
                },
                data: [
                    {
                        type: "spline", //change type to bar, line, area, pie, etc
                        markerType: "triangle",
                        markerSize: 7,
                        lineColor: '#2E8B57',
                        dataPoints: data4
                    }]
            });
        chart4.render();

        var sysData = <%- JSON.stringify(activityData) %>

        var data5 = sysData.map(function (obj) {
            var d = obj.date.split('-')
            return {
                x: new Date(d),
                y: obj.calories,
            }
        })

        var chart5 = new CanvasJS.Chart("calorieContainer",
            {
                colorSet: "greenShades",
                backgroundColor: "rgba(255,255,255, 0.3)",
                zoomEnabled: true,
                animationEnabled: true,
                theme: "theme4",

                title:{
                    text: "Calories"
                },
                axisY:{
                    title: "Calories"
                },

                axisX:{
                    title: "Day" ,
                    valueFormatString: "DD MMM YY"
                },
                data: [
                    {
                        type: "area", //change type to bar, line, area, pie, etc
                        fillOpacity: 0.3,
                        color: "#008080",
                        markerType: "triangle",
                        dataPoints: data5
                    }]
            });
        chart5.render();

    }
</script>
</html>